<section class="cta" id="svyaz">
  <img class="cta__bg" src="/photos/bg-lake@sm.webp" srcset="/photos/bg-lake@sm.webp 900w, /photos/bg-lake.webp 2000w" sizes="100vw" alt="" aria-hidden="true" width="2000" height="1500" loading="lazy" decoding="async">
  <div class="cta__veil" aria-hidden="true"></div>
  <div class="shell cta__in">
    <div class="cta__text">
      <div class="titled">
        <p class="eyebrow eyebrow--light">Связь</p>
        <h2 class="h2 h2--light">Напишите нам</h2>
      </div>
      <p>{{ctaLead}}</p>
      <ol class="steps">
        <li><b>Напишите удобным способом</b><span>ВКонтакте, в&nbsp;WhatsApp или позвоните</span></li>
        <li><b>{{ctaStep2}}</b><span>так мы сразу ответим по делу</span></li>
        <li><b>Получите ответ в&nbsp;течение часа</b><span>Ольга и&nbsp;Максим назовут свободные даты и&nbsp;итоговую стоимость</span></li>
      </ol>
    </div>

    <!--#include channels-->
  </div>
</section>
